@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300;1,400;1,500&display=swap');

*{
	font-family: 'Roboto', sans-serif;
	padding: 0;
	margin: 0;
}


html{
	font-size: 62.5%;
}

body{
	background-image: url(../img/fondo.jpg);
	background-attachment: fixed;
	overflow-x: hidden;
}

h1,h2, h3{
	color: #82020e;
	font-family: 'Quintessential', cursive;
}

p{
	color: #960210;
	line-height: 2rem;
	font-size: 1.9rem;
}


section form legend{
	color: #960210;
	font-family: 'Roboto', sans-serif;
	font-size: 3rem;
	line-height: 4.4rem;
	font-weight: 400;
}


section form div label{
	font-family: 'Roboto', sans-serif;
	font-size: 1.5rem;
	font-weight: 200;
}

main section img{
	width: auto;
	height: 50rem;
}

.logo{
	width: 20rem;
	margin-bottom: 3rem;
	transition: width 1s;
}
.logo:hover{
	width: 22rem;
}

.img-contac{
	transition: width 1s;
}
.img-contac:hover{
	width: 29rem;
}

nav{
	background-color: rgba(252,84,100, 0.5);
	position: sticky;
	top: 0;
	padding: 10px 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}




	nav ul{
	display: flex;
	}

		nav ul li{
			list-style: none;
			margin-right: 20px;
		}

		nav ul li a{
			font-size: 2.8rem;
			text-decoration: none;
			color: #82020e;
		}

		nav ul li a:hover{
			color: #960210;
			font-weight: 700;
		}


.bg-nav{
	background-color: rgba(252,84,100, 0.5);
}

.p__articulo{
	width: 90%;
	height: auto;
	margin: 50px auto;
	padding: 50px 30px;
	border: dotted 2px #960210;
	overflow: auto;
}

#contenedor{
	width: 80%;
	height: 60rem;
	border: dotted 2px #960210;
	padding: auto;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
  	flex-direction: column;
}
	#contenedor img{
		width: 35rem;
		height: auto;
		margin: auto;
		padding: 2rem;
		transition: width 1s;
	}
	#contenedor img:hover {
		width: 40rem;
	  }

.precio {
	width: 100%;
	height:auto;
	margin: auto;
	font-family: sans-serif;
	display: flex;
  	flex-direction: column;
	align-items: center;
	height:50px;
  }

  .box-precio{
	  width: 50%;
	  height: auto;
	  margin: auto;
  }

   .precio1{
	  color: red;
	  font-size: 2em;
  }

  .precio .precio2{
	  font-size: 3em;
  }

.text-bold{
	font-weight: 600;
}

.text-center{
	text-align: center;
}

.text-left{
	text-align: left;
}

.bg{
	background-color: rgb(236,220,212, .5);
}

.titulo__xxl{
	font-size: 3.5rem;
}

.btn-cat{
	color: #ecdcd4;
	background-color: #fc5464;
}

.hora{
	width: 50%;
	height: auto;
	margin: 50px auto;
	padding: 50px 30px;
	border: dotted 2px #960210;
	overflow: auto;
}

.htres{
	font-size: 2.5rem;
}

.pie__icon{
	width: 5rem;
	padding: 1rem;
	transition: width 1s;
}

.pie__icon:hover{
	width: 6rem;
}

.pie{
	background-color: rgba(252,84,100, 0.5);
	width: 100%;
	padding: auto;
}

.pie__titulo--md{
	font-size: 3rem;
}
.gmail{
	width: 90%;
	height: 40rem;
	margin: 2rem auto;
	padding: auto;
	border: dotted 2px #960210;
	overflow: auto;
}

.icon-contact-g{
	width: 28rem;
	height: auto;
	padding: 3rem 10rem;
}

.icon-contact-f{
	width: 26rem;
	height: auto;
	padding: 3rem 10rem;
}


.contenedor-r{
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-template-areas: 
	"nav" 
	"fotos" 
	"info" 
	"pie";
}

#mainNav{
	grid-area: nav;
}

#fotos{
	grid-area: fotos;
}

#info{
	grid-area: info;
}

#pie{
	grid-area: pie;
}



@media (min-width: 1024px){
	.contenedor-r{
		grid-template-columns: 50vh 50vh;
		grid-template-rows: auto;
		grid-template-areas: 
		"nav nav"
		"fotos fotos" 
		"info info" 
		"pie pie";
	}

	#contenedor{
		display: flex;
  		flex-direction: row;
  		width: 70%;
		height: 30rem;
	}
	#contenedor img{
		width: 35rem;
		height: auto;
		margin: auto;
		padding: 2rem;
	}
}


.contenedor-cat{
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-template-areas: 
	"nav" 
	"fotos" 
	"info" 
	"pie";
}

#mainNav-cat{
	grid-area: nav;
}

#fotos-cat{
	grid-area: fotos;
}

#info-cat{
	grid-area: info;
}

#pie-cat{
	grid-area: pie;
}


@media (min-width: 1024px){
	.contenedor-cat{
		grid-template-columns: 50vh 50vh;
		grid-template-rows: auto;
		grid-template-areas: 
		"nav nav"
		"fotos fotos" 
		"info info" 
		"pie pie";
	}