.text-bold{
	font-weight: $regular;
}
.text-center{
	text-align: center;
}
.titulo__xxl{
	font-size: $textXl;
}
.p__articulo{
	width: 80%;
	height: auto;
	margin: 50px auto;
	padding: 50px 30px;
	border: dotted 2px map-get($map:$paleta, $key:'cuatro');
	overflow: auto;
}

.bg{
	background-color: $bg-color;
}

.htres{
	@include titulo(map-get($map:$paleta, $key:'cuatro'), $textLg);
}

.icon-contact-f{
	width: 46em;
	height: auto;
	padding: 4em;
}


.p__articuloInfo{
	@extend .p__articulo;
	width: 70%;
	display: flex;
	flex-direction: column;
}


.informacion{
	@include titulo(map-get($map:$paleta, $key:'tres'), $textXl);
}

.dato{
	@include titulo(map-get($map:$paleta, $key:'tres'), $textMd);
}

section form legend{
	@include titulo(map-get($map:$paleta, $key:'cuatro'), $textXl);
	font-family: 'Roboto', sans-serif;
	line-height: 4.4rem;
	font-weight: $regular;
}

.btn-mensaje{
	margin: auto;
	margin-top: 1rem;
	height: 3rem;
	width: auto;
	@include titulo(map-get($map:$paleta, $key:'tres'), $textMd);
	background-color: map-get($map:$paleta, $key:'dos');
	border: inset 2px map-get($map:$paleta, $key:'cuatro');
}