.text-bold{
	font-weight: $regular;
}
.text-center{
	text-align: center;
}
.titulo__xxl{
	font-size: $textXl;
}
.p__articulo{
	width: 80%;
	height: auto;
	margin: auto;
	padding: 50px 30px;
	overflow: auto;
}

.bg{
	background-color: $bg-color;
}

.p__articuloInfo{
	@extend .p__articulo;
	width: 90%;
	display: flex;
	flex-direction: column;
	@media (min-width: 1024px){
		width: 60%;
	}
}

.log{
	@include titulo(map-get($map:$paleta, $key:'cuatro'), $textMd);
}

.mensajee{
	@include titulo(map-get($map:$paleta, $key:'cuatro'), $textLg);
}

.btn-mensaje{
	margin: auto;
	margin-top: 1rem;
	height: 3rem;
	width: 40%;
	@include titulo(map-get($map:$paleta, $key:'tres'), $textMd);
	background-color: map-get($map:$paleta, $key:'dos');
	border: inset 2px map-get($map:$paleta, $key:'cuatro');
	@media (min-width: 440px){
		width: 20%;
	}
	@media (min-width: 1024px){
		width: 10%;
	}
}

