@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300;1,400;1,500&display=swap');

$mainFont: 'Roboto', sans-serif;

$textSm: .8rem;
$textMd: 1rem;
$textLg: 2rem;
$textXl: 3rem;

$bold: 600;
$regular: 500;
$light: 300;