#navText{
	color: map-get($map:$paleta, $key:'cinco');
	background-color: rgba(111, 29, 27, .9);
	margin: 0;
	padding: 0.2rem;
	font-size: $textMd;
	line-height: 1.5rem;
	@media (min-width: 1024px){
		font-size: $textLg;
		padding: 2rem;
	}
}

header{
	.bg-nav{
		background-color: $bg-nav;
		.container-fluid{
			.logo{
				width: 20rem;
				height: 10rem;
				margin: auto;
				transition: width 1s;
				&:hover{
					width: 22rem;
				}
			}
			#navbarNav{
				.navbar-nav{
					display: flex;
					.nav-item{
						list-style: none;
						margin-right: 20px;
						a{
							font-size: 2.8rem;
							text-decoration: none;
							color: map-get($map:$paleta, $key:'uno');
							&:hover{
								color: map-get($map:$paleta, $key:'cinco');
								font-weight: $regular;
							}
						}
					}
				}
			}
		}
	}
}