#fotos{
	.bg{
		background-color: $bg-color;
	}
	#contenedor{
		width: 80%;
		height: 60rem;
		border: dotted 2px map-get($map:$paleta, $key:'cuatro');
		padding: auto;
		margin-top: 40px;
		margin-left: auto;
		margin-right: auto;
		display: flex;
	  	flex-direction: column;
	 		img{
	  		width: 35rem;
			height: auto;
			margin: auto;
			padding: 2rem;
			transition: width 1s;
			&:hover{
				width: 40rem;
			}
	  	}
	  	@media (min-width: 1024px){
	  		display: flex;
	  		flex-direction: row;
	  		width: 70%;
			height: 30rem;
			#contenedor img{
				width: 35rem;
				height: auto;
				margin: auto;
				padding: 2rem;
			}
	  	}
	}
}

#info{
	.text-center{
		text-align: center;
	}
	.p__articulo{
		width: 90%;
		height: auto;
		margin: 50px auto;
		padding: 50px 30px;
		border: dotted 2px map-get($map:$paleta, $key:'cuatro');
		overflow: auto;
	}
	.bg{
		background-color: $bg-color;
	}
	p{
		color: #960210;
		line-height: 2rem;
		font-size: 1.9rem;
	}
	.text-bold{
		font-weight: $regular;
	}
	.titulo__xxl{
		font-size: $textXl;
	}
}


.acordion{
	@include titulo(map-get($map:$paleta, $key:'tres'), $textLg);
}

.acordionTitle{
	@include titulo(map-get($map:$paleta, $key:'uno'), $textXl);
}

.accordion-body{
	background-color: map-get($map:$paleta, $key:'dos');
}

.accordion-button {        
        background-color: map-get($map:$paleta, $key:'dos');
}

