//variables globales 
$bg-nav: rgba(153, 88, 42, .8);
$bg-color: rgba(187, 148, 87, .7);


@mixin titulo($color, $size){
	color: $color;
	font-size: $size;
}

$paleta:(
	'uno': rgba(111, 29, 27, 1),
	'dos': rgba(187, 148, 87, 1),
	'tres': rgba(67, 40, 24, 1),
	'cuatro': rgba(153, 88, 42, 1),
	'cinco': rgba(255, 230, 167, 1),
	);

$persian-plum: rgba(111, 29, 27, 1);
$camel: rgba(187, 148, 87, 1);
$bistre: rgba(67, 40, 24, 1);
$windsor-tan: rgba(153, 88, 42, 1);
$banana-mania: rgba(255, 230, 167, 1);