//imports
@import "_vars";
@import "_fonts";
@import "_nav";
@import "_principal";
@import "_catalogo";
@import "_nosotros";
@import "_contact";
@import "_footer";

*{
	font-family: 'Roboto', sans-serif;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


html{
	font-size: 62.5%;
}

body{
	background-image: url(../img/fondo.jpg);
	background-attachment: fixed;
	overflow-x: hidden;
	min-height: 100vh;
	margin: 0 auto;
}

h1,h2, h3{
	color: map-get($map:$paleta, $key:'uno');
	font-family: 'Quintessential', cursive;
}

