<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Indumentaria</title>
	<meta name="description" content="En nuestro catalogo de gran variedad encontrarás todos nuestros articulos!">
	<meta name="keywords" content="indumentaria, ropa, envio">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> 
	<link rel="stylesheet" href="../css/style.css">
</head>
<body>
	<div class="contenedor-cat">
		<header>
			<nav class="navbar navbar-expand-lg navbar-light bg-nav">
			  <div class="container-fluid">
			    <a href="../index.html">
				<img src="../img/logo.svg" alt="logo de pagina" class="logo img-fluid">
				</a>
			    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			      <span class="navbar-toggler-icon"></span>
			    </button>
			    <div class="collapse navbar-collapse" id="navbarNav">
			      <ul class="navbar-nav ms-auto">
			        <li class="nav-item">
			          <a href="../views/catalogo.html">Catalogo</a>
			        </li>
			        <li class="nav-item">
			          <a href="../views/nosotros.html">Nosotros</a>
			        </li>
			        <li class="nav-item">
			          <a href="../views/ofertas.html">Ofertas</a>
			        </li>
			        <li class="nav-item">
			          <a href="../views/contacto.html">Contacto</a>
			        </li>
			      </ul>
			    </div>
			  </div>
			</nav>
		</header>
		<main>
			<section class="text-center p__articulo bg">
				<h1 class="text-bold titulo__xxl">Nuestra Indumentaria</h1>
				<div class="row py-3">
					<div class="card col-md-4">
					  <img src="../img/buzo_adidas.webp" class="card-img-top d-block w-100" alt="...">
					  <div class="card-body">
					    <h3 class="card-title">Buzo adidas Essentials con capucha</h3>
					    <div class="precio"> 
							<div class="box-precio">
								<span class="precio2"><b>$1500</b></span>
							</div>
						</div>
					    <a href="#" class="btn btn-cat">Agregar al carrito</a>
					  </div>
					</div>
				

					<div class="card col-md-4">
					  <img src="../img/remera_under2.webp" class="card-img-top d-block w-100" alt="...">
					  <div class="card-body">
					    <h3 class="card-title">Remera Under Armour Ua Live Rival Perf</h3>
					    <div class="precio"> 
							<div class="box-precio">
								<span class="precio2"><b>$1500</b></span>
							</div>
						</div>
					    <a href="#" class="btn btn-cat">Agregar al carrito</a>
					  </div>
					</div>

					<div class="card col-md-4">
					  <img src="../img/short.webp" class="card-img-top d-block w-100 p-5" alt="...">
					  <div class="card-body">
					    <h3 class="card-title">Short adidas Essentials Chelsea</h3>
					    <div class="precio"> 
							<div class="box-precio">
								<span class="precio2"><b>$1500</b></span>
							</div>
						</div>
					    <a href="#" class="btn btn-cat">Agregar al carrito</a>
					  </div>
					</div>

					<div class="card col-md-4">
					  <img src="../img/buzo.webp" class="card-img-top d-block w-100" alt="...">
					  <div class="card-body">
					    <h3 class="card-title">Buzo adidas Essentials</h3>
					    <div class="precio"> 
							<div class="box-precio">
								<span class="precio2"><b>$1500</b></span>
							</div>
						</div>
					    <a href="#" class="btn btn-cat">Agregar al carrito</a>
					  </div>
					</div>

					<div class="card col-md-4">
					  <img src="../img/pantalon_nike.webp" class="card-img-top d-block w-100" alt="...">
					  <div class="card-body">
					    <h3 class="card-title">Pantalon Nike Academy</h3>
					    <div class="precio"> 
							<div class="box-precio">
								<span class="precio2"><b>$1500</b></span>
							</div>
						</div>
					    <a href="#" class="btn btn-cat">Agregar al carrito</a>
					  </div>
					</div>

					<div class="card col-md-4">
					  <img src="../img/pantalon_topper.webp" class="card-img-top d-block w-100" alt="...">
					  <div class="card-body">
					    <h3 class="card-title">Pantalon Topper Basicos</h3>
					    <div class="precio"> 
							<div class="box-precio">
								<span class="precio2"><b>$1500</b></span>
							</div>
						</div>
					    <a href="#" class="btn btn-cat">Agregar al carrito</a>
					  </div>
					</div>
				</div>
			</section>
			<section id="info-cat">
				<form action="envio.php">
						<div class="bg text-center p__articulo">
							<legend class="text-bold">Información de envío</legend>
							<label for="local">Retiro en el local</label>
							<input type="radio" id="local" value="local" name="envio">
							<br>
							<label for="casa">Envio a mi domicilio</label>
							<input type="radio" id="casa" value="casa" name="envio">
							<br>
							<label for="localidad">Provincia</label>
							<select name="" id="localidad">
								<option value="CABA">Ciudad de Buenos Aires</option>
								<option value="BSAS">Provicia de Buenos Aires</option>
								<option value="interior">Interior del pais</option>
							</select>
						</div>

						<div class="bg text-center espacio p__articulo">
							<label for="mensaje">Deje alguna aclaración si la encuentra necesaria</label>
							<br>
							<textarea name="" id="mensaje" cols="30" rows="10" class="bg"></textarea>
							<br>
							<input type="reset" value="Cancelar">
							<input type="submit" value="Enviar">
						</div>
				</form>
			</section>
		</main>
		<footer class="text-center pie" id="pie-cat">
			<h3 class="pie__titulo--md">Contacto:</h3>
			<a href="https://www.instagram.com" target="_blank">
				<img src="../img/ig.png" alt="foto de la red social instagram" class="pie__icon">
			</a>
			<a href="https://www.twitter.com" target="_blank">
				<img src="../img/tw.png" alt="foto de la red social twitter" class="pie__icon">
			</a>
		</footer>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> 
</body>
</html>