<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>MyU Indumentaria</title>
	<meta name="description" content="Te brindamos todos nuestros horarios de atencion, vení cuando quieras! Te esperamos.">
	<meta name="keywords" content="atencion, lugar, horario">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="../css/main.css">
</head>
<body>
	<div class="bg">
	<section>
		<p class="text-bold text-center titulo__xxl" id="navText">♥ Amamos TODOS los cuerpos. Encontrá la indumentaria que te gusta sin importar el talle ♥</p>
	</section>
	<header class="sticky-top">
		<nav class="navbar navbar-expand-lg navbar-light bg-nav">
		  <div class="container-fluid">
		    <a href="../index.html">
			<img src="../img/logo.svg" alt="logo de pagina" class="logo">
			</a>
		    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="collapse navbar-collapse" id="navbarNav">
		      <ul class="navbar-nav ms-auto">
		        <li class="nav-item">
		          <a href="../views/catalogo.html">Catalogo</a>
		        </li>
		        <li class="nav-item">
		          <a href="../views/nosotros.html">Nosotros</a>
		        </li>
		        <li class="nav-item">
		          <a href="../views/ofertas.html">Ofertas</a>
		        </li>
		        <li class="nav-item">
		          <a href="../views/contacto.html">Contacto</a>
		        </li>
		      </ul>
		    </div>
		  </div>
		</nav>
	</header>
	<main>
		<section>
			<div class="text-center hora">
				<h1 class="text-bold titulo__xxl">Nuestro horario de atención:</h1>
				<p>
					Lunes: 09:00 - 20:30
					<br>
					Martes: 09:00 - 20:30
					<br>
					Miercoles: 09:00 - 17:00
					<br>
					Jueves: 09:00 - 20:30
					<br>
					Viernes: 09:00 - 20:30
					<br>
					Sabado: CERRADO
					<br>
					Domingo: CERRADO
				</p>
				<h3 class="text-bold titulo__xxl">Podes encontrarnos en:</h3>
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3282.5302225573855!2d-58.56733308423588!3d-34.641310116996316!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcc7e55a6fc039%3A0x6d5259111533f988!2sModa%20Mia!5e0!3m2!1ses-419!2sar!4v1653866418966!5m2!1ses-419!2sar" width="80%" height="350rem" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
			</div>
		</section>
	</main>
	<footer class="text-center pie">
		<h3 class="pie__titulo--md">Contacto:</h3>
		<a href="https://www.instagram.com" target="_blank">
			<img src="../img/ig.png" alt="foto de la red social instagram" class="pie__icon">
		</a>
		<a href="https://www.twitter.com" target="_blank">
			<img src="../img/tw.png" alt="foto de la red social twitter" class="pie__icon">
		</a>
	</footer>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	</div>
</body>
</html>